<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Trouble Crew Time Sheets</title>
        <link rel="stylesheet" href="{{url_for('static', filename='timesheet.css')}}">
    </head>

    <body>
        <div class="wrapper">
            <div class="header">
                <a href="/"><img src="{{url_for('static', filename='ul_logo.png')}}" alt="University of Louisiana at Lafayette Logo"></a>
                <div id="red_line"></div>
                <h1>Time<br>Entry</h1>
            </div>

            <form method="POST" action="" novalidate="novalidate">
                {{ form.hidden_tag() }}
            
                {{ form.name.label(class="form-label") }}

                {% if form.name.errors %}
                    {{ form.name(class="form-input is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.name(class="form-input") }}
                {% endif %}

                
                {{ form.username.label(class="form-label") }}

                {% if form.username.errors %}
                    {{ form.username(class="form-input is-invalid", placeholder="CXXXXXXXX") }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username(class="form-input", placeholder="CXXXXXXXX") }}
                {% endif %}


                {{ form.password.label(class="form-label") }}

                {% if form.password.errors %}
                    {{ form.password(class="form-input is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="form-input") }}
                {% endif %}


                {{ form.hours_worked.label(class="form-label") }}

                {% if form.hours_worked.errors %}
                    {{ form.hours_worked(class="form-input is-invalid", placeholder="E.g. 58") }}
                    <div class="invalid-feedback">
                        {% for error in form.hours_worked.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.hours_worked(class="form-input", placeholder="E.g. 58") }}
                {% endif %}
                
                <div class="center">
                    {{ form.submit(id="submit") }}
                </div>
            </form>

            <!-- <form action ="process.php" method="POST">
                <h2>Username</h2>
                <input type="text" name="username" placeholder="CXXXXXXXX" required>

                <h2>Password</h2>
                <input type="password" name="password" autocomplete="current-password" required>

                <h2>Hours Worked</h2>
                <input type="number" name="hours_worked" placeholder="E.g. '58'" required>

                <div class="center">
                    <input type="submit" id="submit" name="submit">
                </div>
            </form> -->

            
        </div>

        <p class="credit">Created by Braxton Thompson.<a href="https://www.github.com/braxtonthompson" target="_blank"><img src="{{url_for('static', filename='github_logo.png')}}" alt="GitHub Logo" id="github"></a></p>
    </body>
</html>